# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Excel test files
*.xlsx
*.xls
!InvoiceApp/core/exporter.py

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Environment
.env
venv/
.venv/
